* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(#04B4AE, #D8D8D8, #58ACFA);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #190707;
}

table {
    width: 100%;
    height: auto;
}

tr {
    line-height: 15px;
}


td {
    text-align: center;
    font-size: 15px;
}
tr{
    line-height: 30px;
}
h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    cursor: default;
}